*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --green:#596D48;
    --input:#E5E7EB;
    --logo-font:logoFont;
}
@font-face {
    font-family:logoFont;
    src: url(Norse-Bold.otf);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: min(300px,10vw);
    width: 30%;
}
.dark-background{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: rgba(0, 0, 0, 0.50);
padding: 10px;
}
.logo{
    width: max(5vw,80px);
}
.logo-font{
    color: white;
    font-size: 75px;
    font-family: var(--logo-font);
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--input);
    flex-grow: 1;
}
.inner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 70px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.leftTopText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 60px;
}
.leftTopText p{
    font-size: 22px;
    flex-wrap: wrap;
    max-width: 70ch;
}


.middleTopContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.double-inputs-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.white-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 60px 60px;
    gap: 20px;
    width: 100%;
}
.middleTopContainer h2{
    font-size: 22px;
    font-weight: 500;
}
.input-containers{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-bubble{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.input-bubble label{
    font-size: 14px;
    cursor: pointer;
}
.input-bubble input{
    height: 35px;
    width: 300px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 17px;
}
.input-bubble input:focus{
    outline: none;
    border: 2px solid rgb(62, 113, 253);
}
.input-bubble input:user-invalid{
    border: 2px solid rgb(253, 62, 62);
}
.input-bubble input:user-valid{
    border: 2px solid green;
}
.lowerTopContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.lowerTopContainer a{
    text-decoration: none;
    color: var(--green);
    font-weight: 600;
}
button{
    background-color: var(--green);
    color:white;
    font-weight: 600;
    font-size: 18px;
    max-width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}
button:hover{
    background-color: #445337;
}


.lowerTopContainer{
    padding-left: 60px;
}




@media screen and (max-width:1000px) {
    
}